.content__container {
	margin: 0 auto;
	max-width: var(--container-max-width);
	padding: var(--container-padding);
}

@media (max-width: 600px) {
	:root {
		--container-padding: 0 1rem;
	}
}

.content__container--narrow {
	max-width: var(--container-max-width-narrow);
	padding: 0 1rem;
}
