.route-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
	gap: var(--s6);
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;
}

.route-list__item {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 185px;
}

/* Mobile: Always single column */
@media (max-width: 639px) {
	.route-list {
		grid-template-columns: 1fr;
	}
}
