:root {
	--font-size-xs: clamp(10.8px, 12px, 12px);
	--font-size-sm: clamp(14.4px, 0.07vw + 14.13px, 15px);
	--font-size-base: clamp(14.4px, 0.23vw + 14px, 16px);
	--font-size-subtitle: clamp(18px, 0.31vw + 17.5px, 20px);
	--font-size-h4: clamp(21.6px, 0.47vw + 20.2px, 24px);
	--font-size-h3: clamp(25.2px, 0.78vw + 23.3px, 28px);
	--font-size-h2: clamp(32.4px, 1.25vw + 29.2px, 36px);
	--font-size-h1: clamp(43.2px, 2.5vw + 36px, 48px);
	--font-size-hero: clamp(48px, 4vw + 40px, 64px);

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}

html {
	scroll-behavior: smooth;
}
html,
body {
	line-height: 1.5;
	font-family: var(--theme-font-family);
	font-size: var(--font-size-base);
	color: var(--theme-on-bg);
}

h1,
h2,
h3 {
	font-family: var(--theme-font-family);
	font-weight: var(--font-weight-bold);
}


h1,
h2 {
	line-height: 1.1;
}

h3 {
	font-weight: var(--font-weight-medium);
}

h6 {
	font-size: var(--font-size-sm);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem 0;
}

blockquote {
	font-style: italic;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-medium);
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	border-left: 0.25rem solid var(--theme-on-bg);
}

.overline {
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-normal);
	text-transform: uppercase;
}

.hero-title {
	font-size: var(--font-size-hero);
	font-weight: var(--font-weight-medium);
}

h1,
.h1 {
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-medium);
}

h2,
.h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-medium);
}

h3,
.h3 {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-medium);
}

h4,
.h4 {
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-medium);
}

.subtitle {
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-medium);
}

.body-text {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
}

.button-text {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
}

.text-secondary {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-normal);
}
