---
import EmailCard from '@/components/contact-card/EmailCard.astro';
import OfficeHours from '@/components/contact-card/OfficeHours.astro';
import PhoneCard from '@/components/contact-card/PhoneCard.astro';
import ContactForm from '@/components/ContactForm.astro';
import Container from '@/components/Container.astro';
import FormSection from '@/components/FormSection.astro';
import LeafletMap from '@/components/LeafletMap.astro';
import PageHeader from '@/components/PageHeader.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Page from '@/layouts/Page.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Page
	seo={{
		title: t('contact.seo.title'),
		description: t('contact.seo.description')
	}}
>
	<section class="content__container">
		<PageHeader title={t('nav.contact')} />
		<div class="contact-layout">
			<OfficeHours />

			<PhoneCard />
			<EmailCard />
			<section class="map-container">
				<LeafletMap latitude={43.0651297} longitude={-2.4895518} zoom={17} />
			</section>
		</div>
	</section>
	<FormSection class="form-section" aria-labelledby="contact-form-title">
		<Container narrow>
			<PageHeader id="contact-form-title" title={t('Harremanetan jarri')} />

			<ContactForm />
		</Container>
	</FormSection>
</Page>

<style>
	.contact-layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--s6);
		row-gap: var(--s4);
	}

	.map-container {
		grid-row: 1 / 4;
		grid-column: 2;
		height: 100%;
		width: 100%;
		overflow: hidden;
		border-radius: var(--theme-shape-radius);
	}

	.form-section {
		background-color: var(--theme-primary-container-alt);
		margin-top: var(--s6);
		padding: var(--s8) 0;
	}
	.form-section :global(.page-title) {
		margin: 0;
		text-align: center;
	}
	@media (max-width: 768px) {
		.contact-layout {
			grid-template-columns: 1fr;
		}

		.map-container {
			grid-row: 4;
			grid-column: 1;
			margin-top: 0;
			height: 400px;
			width: 100%;
		}
	}
</style>
