---
import Page from '@/layouts/Page.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import PageHeader from '@/components/PageHeader.astro';
import RouteList from '@/components/RouteList.astro';
import { CompanyName } from '@/config/company';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Page
	seo={{
		title: t('nav.routes') + ' - ' + CompanyName,
		description: t('routes.seo.description')
	}}
	pageClass="content__container"
>
	<PageHeader
		title={t('nav.routes')}
		subtitle={t('Gure mendizale elkartearen ibilbide guztiak')}
	/>

	<section class="routes-section">
		<RouteList />
	</section>
</Page>

<style>
	.routes-section {
		margin-top: var(--s6);
	}
</style>
