---
type Props = {
	class?: string;
	id?: string;
};
const { class: className, ...props } = Astro.props;
---

<section class:list={['form-section', className]} {...props}>
	<slot />
</section>

<style>
	.form-section {
		background-color: var(--theme-primary-container-alt);
		margin-top: var(--s6);
		padding: var(--s8) 0;
	}
</style>
