---
// Hero component for Besaide homepage
import udalaitzImage from '@/assets/udalaitz.webp';
import { Image } from 'astro:assets';
import Button from '@/components/buttons/Button.astro';
---

<section class="hero" id="hero">
	<Image src={udalaitzImage} alt="Udalaitz mendia" class="hero-image" />

	<h1>Bazkidetza / Federatzea</h1>
	<Button class="btn-home-hero">Bazkide egin</Button>
</section>

<style>
	.hero {
		--hero-color: white;
		--hero-color-contrast: #000000;
		position: relative;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--hero-color);
		overflow: hidden;
		margin-top: calc(-1 * var(--header-height));
		padding-top: var(--header-height);

		h1 {
			font-weight: 500;
		}
	}

	.hero-image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}

	.btn-home-hero {
		background-color: var(--hero-color) !important;
		color: var(--theme-primary) !important;
		&:hover {
			background-color: var(--grey-200) !important;
		}
	}
</style>
