---
import { getLangFromUrl, getUrlFromID, useTranslations } from '@/i18n/utils';
import { sortedAndFilteredEvents } from '@/utils/events';
import HomeSectionHeader from './HomeSectionHeader.astro';
import EventCard from '@/components/events/EventCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const agendaSection = getUrlFromID('agenda', lang);
const today = new Date();

let events = await sortedAndFilteredEvents(agendaSection, today);

events = events.filter(event => !event.isPast).slice(0, 4);
---

{
	events.length > 0 ? (
		<section id="agenda" class="home-section_container">
			<HomeSectionHeader
				title={t('Hurrengo irteerak')}
				buttonText={t('Agenda osoa ikusi')}
				buttonHref={getUrlFromID('agenda', lang, { year: today.getFullYear() })}
			>
				<div class="events-grid">
					{events.map(item => (
						<EventCard item={item} />
					))}
				</div>
			</HomeSectionHeader>
		</section>
	) : null
}

<style>
	.events-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 320px);
		gap: var(--s6);
	}

	@media (max-width: 768px) {
		.events-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
