---
import { getLangFromUrl, getUrlFromID, useTranslations } from '@/i18n/utils';
import { sortedAndFilteredEvents } from '@/utils/events';
import HomeSectionHeader from './HomeSectionHeader.astro';
import EventCard from '@/components/events/EventCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const agendaSection = getUrlFromID('agenda', lang);
const today = new Date();

let events = await sortedAndFilteredEvents(lang, agendaSection, today);

// Filter future events and limit to 4
events = events.filter(event => !event.isPast).slice(0, 4);
---

<section id="agenda" class="home-section_container">
	<HomeSectionHeader
		title={t('Hurrengo irteerak')}
		subtitle={t(
			'Euskal mendietara eta Pirinioetara antolatutako txangoak eta mendiko jarduerak.'
		)}
		buttonText={t('Agenda osoa ikusi')}
		buttonHref={getUrlFromID('agenda', lang)}
	>
		<div class="events-grid">
			{events.map(item => <EventCard item={item} />)}
		</div>
	</HomeSectionHeader>
</section>

<style>
	.events-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 320px);
		gap: 2rem;
	}

	@media (max-width: 768px) {
		.events-grid {
			grid-template-columns: 1fr;
			gap: 1.5rem;
		}
	}
</style>
