---
import Button from './buttons/Button.astro';

interface Props {
	title: string;
	subtitle?: string;
	buttonText?: string;
	buttonHref?: string;
	class?: string;
}

const {
	title,
	subtitle,
	buttonText,
	buttonHref,
	class: className,
	...rest
} = Astro.props;
---

<div class={`section-header ${className || ''}`} {...rest}>
	<h2 class="section-header__title">{title}</h2>
	{
		buttonText && (
			<div class="section-header__action">
				<Button href={buttonHref}>{buttonText}</Button>
			</div>
		)
	}
	{subtitle && <p class="section-header__subtitle">{subtitle}</p>}
</div>

<style>
	.section-header {
		display: grid;
		grid-template-columns: repeat(2, auto);
		column-gap: var(--s4);
		margin-bottom: var(--s5);
	}

	.section-header__title {
		margin-bottom: 0;
	}

	.section-header__subtitle {
		margin: 0;
	}

	.section-header__action {
		grid-row: span 2 / span 2;

		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	@media (max-width: 768px) {
		.section-header {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			row-gap: var(--s2);
		}

		.section-header__action {
			grid-row: 3;
			grid-column: 1;
			justify-self: start;
		}
	}
</style>
