---
import Button from '@/components/buttons/Button.astro';
import { getLangFromUrl, getUrlFromID, useTranslations } from '@/i18n/utils';
import Container from './Container.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const shortcuts = [
	{
		title: t('hero.membership.title'),
		description: t('hero.membership.description'),
		cta: t('hero.membership.cta'),
		href: getUrlFromID('membership-federation', lang) + '#bazkidetza'
	},
	{
		title: t('hero.federation.title'),
		description: t('hero.federation.description'),
		cta: t('hero.federation.cta'),
		href: getUrlFromID('membership-federation', lang) + '#federatzea'
	},
	{
		title: t('hero.shelter.title'),
		description: t('hero.shelter.description'),
		cta: t('hero.shelter.cta'),
		href: getUrlFromID('leixagarate', lang)
	}
];
---

<section class="shortcuts-container">
	<Container class="shortcuts-grid">
		{
			shortcuts.map(shortcut => (
				<>
					<div class="shortcut-item">
						<h3>{shortcut.title}</h3>
						<p>{shortcut.description}</p>
						<Button href={shortcut.href}>{shortcut.cta}</Button>
					</div>
				</>
			))
		}
	</Container>
</section>

<style>
	.shortcuts-container {
		background-color: var(--theme-primary-container);
	}
	.shortcuts-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0;
		--border-color: #fff;
	}

	:global([data-theme='dark']) .shortcuts-grid {
		--border-color: #000;
	}

	.shortcut-item {
		border-right: 1px solid var(--border-color);
	}

	.shortcut-item:last-child {
		border-right: none;
	}

	.shortcut-item {
		padding-right: var(--s6);
		padding-top: var(--s8);
		padding-bottom: var(--s8);

		display: flex;
		flex-direction: column;
		gap: var(--s4);
		align-items: center;
	}

	.shortcut-item:not(:first-child) {
		padding-left: var(--s6);
	}

	.shortcut-item:last-child {
		padding-right: 0;
	}

	.shortcut-item h3 {
		margin: 0;
		color: var(--theme-on-bg);
	}

	.shortcut-item p {
		flex: 1;
		margin: 0;
		color: var(--theme-on-bg);
		text-align: center;
	}

	/* Tablet - 2 columns */
	@media (max-width: 1024px) {
		.shortcuts-grid {
			grid-template-columns: repeat(2, 1fr);
		}

		.shortcut-item {
			border-bottom: 1px solid var(--border-color);
		}

		.shortcut-item:nth-child(2) {
			padding-right: var(--s6);
			border-right: none;
		}

		.shortcut-item:nth-child(3) {
			border-right: none;
			padding-left: 0;
			padding-right: var(--s6);
		}

		.shortcut-item:last-child {
			border-bottom: none;
		}
	}

	/* Mobile - 1 column */
	@media (max-width: 768px) {
		.shortcuts-grid {
			grid-template-columns: 1fr;
			.shortcut-item {
				border-right: none;
				border-bottom: 1px solid var(--border-color);
				padding-right: 0;
				padding-left: 0;
			}
		}

		.shortcut-item:last-child {
			border-bottom: none;
		}
	}
</style>
