---
import { getCollection } from 'astro:content';
import RouteCard from '@/components/RouteCard.astro';
import '@/styles/routes.css'

type Props = {
	filterLeixargarate?: boolean;
};

const { filterLeixargarate } = Astro.props;

const allRoutes = await getCollection('routes');

const routes = filterLeixargarate
	? allRoutes.filter(route => route.data.fromLeixargarate)
	: allRoutes;
---

<ul class="route-list">
	{
		routes.map(route => (
			<li class="route-list__item">
				<RouteCard route={route.data} />
			</li>
		))
	}
</ul>