---
import LogoMondraberri from '@/assets/sponsors/logo-mondraberri.webp';
import LogoLaboral from '@/assets/sponsors/logo-laboral.svg';
import LogoUdala from '@/assets/sponsors/logo-arrasateko-udala.svg';
import SponsorLink from './SponsorLink.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import HomeSectionHeader from './HomeSectionHeader.astro';
import EMFLogo from '@/assets/emf.webp';
import GMFLogo from '@/assets/sponsors/GMF.webp';

const lang = getLangFromUrl(Astro.url);

const sponsors = [
	{
		name: 'Euskal Mendi Federazioa',
		url: 'https://emf.eus' + lang === 'eu' ? '/eu/' : '',
		LogoComponent: EMFLogo
	},
	{
		name: 'Gipuzkoako Mendizale Federazioa',
		url: 'https://gmf.eus' + lang === 'eu' ? '/eu/' : '',
		LogoComponent: GMFLogo
	},
	{
		name: 'Arrasateko Udala',
		url: 'http://www.arrasate.eus' + '/' + lang,
		LogoComponent: LogoUdala
	},
	{
		name: 'MONDRABERRI Arrasateko Ataria',
		url: 'https://mondraberri.eus/',
		LogoComponent: LogoMondraberri
	},

	{
		name: 'Caja Laboral Kutxa',
		url: 'https://www.laboralkutxa.com',
		LogoComponent: LogoLaboral
	}
];

const t = useTranslations(lang);
---

<section id="babesleak" aria-labelledby="sponsors-heading">
	<HomeSectionHeader
		title={t('Babesleak')}
		class="content__container"
		id="sponsors-heading"
	>
		<div class="carousel" role="region" aria-label={t('Babesleak')}>
			<div class="group">
				{
					sponsors.map(sponsor => {
						return <SponsorLink {...sponsor} />;
					})
				}
			</div>
			<div class="group">
				{
					sponsors.map(sponsor => {
						return <SponsorLink {...sponsor} />;
					})
				}
			</div>
		</div>
	</HomeSectionHeader>
</section>

<style>
	.carousel {
		max-width: var(--container-max-width);
		margin: var(--s4) auto 0 auto;
		overflow: hidden;
		display: flex;
		-webkit-mask-image: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 15%,
			rgba(0, 0, 0, 1) 85%,
			rgba(0, 0, 0, 0) 100%
		);
		> * {
			flex: 0 0 100%;
		}
		&:hover .group {
			animation-play-state: paused;
		}
	}
	.group {
		gap: var(--s7);
		display: flex;
		padding-right: var(--s7);
		will-change: transform;
		animation: scrolling 10s linear infinite;
	}

	:global([data-theme='dark']) .group {
		background-color: var(--grey-500);
	}
	.group[aria-hidden='true'] {
		display: flex;
	}

	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	@media (min-width: 1200px) {
		.group {
			animation: none;
			padding-right: unset;
		}
		.carousel {
			-webkit-mask-image: none;
			padding: var(--container-padding);
		}
	}
</style>
