---
import { getLangFromUrl, getUrlFromID, useTranslations } from '@/i18n/utils';
import HomeSectionHeader from '@/components/HomeSectionHeader.astro';
import NewsCard from '@/components/news/NewsCard.astro';
import { processNewsItems, sortedNewsPosts } from '@/utils/news';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const news = await sortedNewsPosts();
const limitedNews = news.slice(0, 3); // Limit to 3 news items for the component

const processedNews = processNewsItems(limitedNews, lang);

const newsSection = getUrlFromID('news', lang);
---

<section class="home-section_container" id="home-news-section">
	<HomeSectionHeader
		title={t('Azken albisteak')}
		buttonText={t('Berri guztiak ikusi')}
		buttonHref={newsSection}
	>
		<div class="featured-news">
			{processedNews.map(item => <NewsCard item={item} />)}
		</div>
	</HomeSectionHeader>
</section>

<style>
	.featured-news {
		display: grid;
		grid-template-columns: repeat(auto-fit, 421px);
		gap: var(--s6);
	}

	@media (max-width: 1200px) {
		.featured-news {
			grid-template-columns: 1fr 1fr;
		}
	}
	/* Mobile Styles */
	@media (max-width: 768px) {
		.featured-news {
			grid-template-columns: 1fr;
		}
	}
</style>
